<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <!-- Copy From Bootstrap website: https://getbootstrap.com/  Getting Started    {href-css vs scr-js} -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>

  <!-- part1:navbar {Bootstrap} 
        ** navbar's components: navbar-brand navbar-toggler navbar-collapse navbar-nav nav-item
        1)Copy From Bootstrap website / Components / Navbar  https://getbootstrap.com/docs/4.3/components/navbar/
        2)adjust/change:        
  -->

  <!-- part2: mainpart  
       1) set container
       2) set subpart as a jumbotron or a row within container
       3) set each subpart row       
  -->
  <div class="container" style="padding:10px;">

    <div class="jumbotron text-center">
      <h1 class="display-4"> Mission to Mars </h1>
      <!-- <h1 > Mission to Mars </h1> -->
      <br>
      <a class="btn btn-primary btn-lg" href="#" role="button">Scrape New Data</a>
      <br>
    </div>

    <div class="row">
      <div class="col-md-12">
        <!-- if no this line h4 and h6 go into one line??-->
        <h4> Latest Mars News </h4>
        <h6>{{marsdata_html.latestnews_title}} </h6>
        <p> {{marsdata_html.latestnews_p}}</p>
        <!-- <h6> NASA’s Next Mars Mission to investigate Interior of Red Planet</h6>
        <p>Preparation of NASA’s       </p> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <h4> Featured Mars Image </h4>
        <img src={{marsdata_html.featured_image_url}} style="overflow:none; width:100%;height:auto" />
      </div>
      <div class="col-md-4 ml-5">
        <!-- 7+5=12, 12+ml will take more than one row, if want ml need to make 7+4=11<12-->
        <div class="row stats" style="border: 1px solid lightslategray!important">
        <!-- border color is not lightslategray?? -->
          <h6> Current Weather on Mars </h6>
          <p style="font-size:10px;">{{marsdata_html.latestmarsweather_tweet}}
          </p>
        </div>
        <br>
        <div class="row stats" style="border: 1px solid lightslategray">
          <h6> Mars Facts </h6>
          <!--1)open the .html written by panda then copy paste here
              2)adjust/change:  
                0) add container
                1) <table class="dataframe"> => <table class="table table-striped "> 
                2) add [scope="col"] in <thead><tr><th>
                3) add [scope="row"] in each <tr><th> of <tbody>   'each' too much??
                4) remove index column : replace [<th>\w+</th>] with []
                5) remove 
                5) show striped : 
                6) height:80vh : 80% of view height
          -->
          
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12  text-center">
        <h4> Mars Hemispheres </h4>
        <!-- need be wrapped in div same as above so can align with above + center-->
        <hr> <!-- need within div-->
      </div>
      <div class="row">
        <div class="col-md-5 mr-30 ml-3" style="padding:10px; border: 1px solid lightslategray" >
          <img src="../Images/mission_to_mars.png" style="overflow:none; width:100%;height:auto" />
          Calles Marineris Hemisphere Enhanced
        </div>
        <div class="col-md-5 mr-3 ml-3" style="padding:10px;border: 1px solid lightslategray">
          <img src="../Images/mission_to_mars.png" style="overflow:none; width:100%;height:auto" />
          Cerberus Hemisphere Enhanced
        </div>        
      </div>
      <br>
      <div class="row">
        <div class="col-md-5 mr-30 ml-3" style="padding:10px;border: 1px solid lightslategray">
          <img src="../Images/mission_to_mars.png" style="overflow:none; width:100%;height:auto" />
          Schiaparelli Hemisphere Enhanced
        </div>
        <div class="col-md-5 mr-3 ml-3" style="padding:10px;border: 1px solid lightslategray">
          <img src="../Images/mission_to_mars.png" style="overflow:none; width:100%;height:auto" />
          Syrtis Major Hemisphere Enhanced
        </div>
      </div>
    </div>
  </div>

  <!-- part3: footer {Bootstrap} -->
  <!--   1)Copy From https://mdbootstrap.com/docs/jquery/navigation/footer/ 
            ** footer's components: Footer Text(Grid), Copyright
         2)adjust/change:   
             1) 
  -->



</body>

</html>

<!-- 




 -->